<h3 class="ui header">{{t 'forms.i-i-s-web-learning2016-клиент-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.наименование
    class=(if model.errors.наименование 'error' '')
    label=(t 'forms.i-i-s-web-learning2016-клиент-e.наименование-caption')
  }}
  {{flexberry-validationmessage error=model.errors.наименование pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-клиент-e.тип-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.тип
    displayAttributeName='наименование'
    relationName='тип'
    projection='ТипКлиентаL'
    title=(t 'forms.i-i-s-web-learning2016-клиент-e.тип-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.тип pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-клиент-e.документ-caption'}}</label>
  {{
    flexberry-file
    placeholder=(t 'components.flexberry-file.placeholder')
    readonly=readonly
    value=model.документ
    class=(if model.errors.документ 'error' '')
    label=(t 'forms.i-i-s-web-learning2016-клиент-e.документ-caption')
  }}
  {{flexberry-validationmessage error=model.errors.документ pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-клиент-e.фото-caption'}}</label>
  {{
    flexberry-file
    placeholder=(t 'components.flexberry-file.placeholder')
    readonly=readonly
    value=model.фото
    class=(if model.errors.фото 'error' '')
    label=(t 'forms.i-i-s-web-learning2016-клиент-e.фото-caption')
  }}
  {{flexberry-validationmessage error=model.errors.фото pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.количествоОбращений
    class=(if model.errors.количествоОбращений 'error' '')
    label=(t 'forms.i-i-s-web-learning2016-клиент-e.количествоОбращений-caption')
  }}
  {{flexberry-validationmessage error=model.errors.количествоОбращений pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.обслуженоОбращений
    class=(if model.errors.обслуженоОбращений 'error' '')
    label=(t 'forms.i-i-s-web-learning2016-клиент-e.обслуженоОбращений-caption')
  }}
  {{flexberry-validationmessage error=model.errors.обслуженоОбращений pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-клиент-e.актуально-caption'}}</label>
  {{
    flexberry-checkbox 
    readonly=readonly 
    value=model.актуально
  }}
  {{flexberry-validationmessage error=model.errors.актуально pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-клиент-e.датаРегистрации-caption'}}</label>
  {{
    flexberry-datepicker
    placeholder='(no value)'
    readonly=readonly
    value=model.датаРегистрации
    class=(if model.errors.датаРегистрации 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.датаРегистрации pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-клиент-e.датаПоследнегоВизита-caption'}}</label>
  {{
    flexberry-datepicker
    placeholder='(no value)'
    readonly=readonly
    value=model.датаПоследнегоВизита
    class=(if model.errors.датаПоследнегоВизита 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.датаПоследнегоВизита pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.email
    class=(if model.errors.email 'error' '')
    label=(t 'forms.i-i-s-web-learning2016-клиент-e.email-caption')
  }}
  {{flexberry-validationmessage error=model.errors.email pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.мобильныйТелефон
    class=(if model.errors.мобильныйТелефон 'error' '')
    label=(t 'forms.i-i-s-web-learning2016-клиент-e.мобильныйТелефон-caption')
  }}
  {{flexberry-validationmessage error=model.errors.мобильныйТелефон pointing="pointing"}}
</div>

</form>
