<h3 class="ui header">{{t 'forms.i-i-s-web-learning2016-операция-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.должностьОператораСтр
    class=(if model.errors.должностьОператораСтр 'error' '')
    label=(t 'forms.i-i-s-web-learning2016-операция-e.должностьОператораСтр-caption')
  }}
  {{flexberry-validationmessage error=model.errors.должностьОператораСтр pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-операция-e.дата-caption'}}</label>
  {{
    flexberry-datepicker
    placeholder='(no value)'
    readonly=readonly
    value=model.дата
    class=(if model.errors.дата 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.дата pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-операция-e.видОперации-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.видОперации
    displayAttributeName='наименование'
    relationName='видОперации'
    projection='ВидОперацииL'
    title=(t 'forms.i-i-s-web-learning2016-операция-e.видОперации-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.видОперации pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-операция-e.выполнена-caption'}}</label>
  {{
    flexberry-checkbox 
    readonly=readonly 
    value=model.выполнена
  }}
  {{flexberry-validationmessage error=model.errors.выполнена pointing="pointing"}}
</div>

</form>
