<h3 class="ui header">{{t 'forms.i-i-s-web-learning2016-очередь-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.наименование
    class=(if model.errors.наименование 'error' '')
    label=(t 'forms.i-i-s-web-learning2016-очередь-e.наименование-caption')
  }}
  {{flexberry-validationmessage error=model.errors.наименование pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-очередь-e.закрыта-caption'}}</label>
  {{
    flexberry-checkbox 
    readonly=readonly 
    value=model.закрыта
  }}
  {{flexberry-validationmessage error=model.errors.закрыта pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-очередь-e.актуально-caption'}}</label>
  {{
    flexberry-checkbox 
    readonly=readonly 
    value=model.актуально
  }}
  {{flexberry-validationmessage error=model.errors.актуально pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-очередь-e.тип-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.тип
    displayAttributeName='наименование'
    relationName='тип'
    projection='ТипОчередиL'
    title=(t 'forms.i-i-s-web-learning2016-очередь-e.тип-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.тип pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-очередь-e.оператор-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.оператор
    displayAttributeName='фИО'
    relationName='оператор'
    projection='ОператорL'
    title=(t 'forms.i-i-s-web-learning2016-очередь-e.оператор-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.оператор pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.должностьОператораСтр
    class=(if model.errors.должностьОператораСтр 'error' '')
    label=(t 'forms.i-i-s-web-learning2016-очередь-e.должностьОператораСтр-caption')
  }}
  {{flexberry-validationmessage error=model.errors.должностьОператораСтр pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-web-learning2016-очередь-e.местоВОчереди-caption'}}</label>
  {{
    flexberry-groupedit
    componentName="местоВОчередиGroupEdit"
    mainModelProjection=modelProjection
    modelProjection=modelProjection.attributes.местоВОчереди
    content=model.местоВОчереди
    readonly=readonly
    orderable=false
    class=(if model.errors.местоВОчереди 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.местоВОчереди pointing="pointing"}}
</div>

</form>
